@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom font setup */
@font-face {
    font-family: 'Clash Grotesk';
    src: url('/assets/fonts/ClashGrotesk-Light.otf') format('OpenType');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Clash Grotesk';
    src: url('/assets/fonts/ClashGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Clash Grotesk';
    src: url('/assets/fonts/ClashGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  } 
  @font-face {
      font-family: 'Clash Grotesk';
      src: url('/assets/fonts/ClashGrotesk-Bold.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
    } 


    .padding-top-extra {
      margin-top: 9rem; /* Adjust as needed */
  }


  